{% extends 'todo/base.html' %}

{% block content %}

    {% load todo_tags %}
    {% load crispy_forms_tags %}

    <!--
    <div class="m-3">

    {% if user.is_authenticated == False %}
    <h2 class="mb-3">To create your tasks,
        please <a class='link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover' href="{% url 'sign_up' %}">register</a>
        or
        <a class='link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover' href="{% url 'log_in' %}">log in</a>
        .</h2>
        {% endif %}

    <form method="POST">
    {% csrf_token %}

    {{ form|crispy }}

        {% if user.is_authenticated == False %}
    <button type="submit" class="btn btn-primary m-3" disabled>Submit</button>
        {% else %}
        <button type="submit" class="btn btn-primary m-3">Submit</button>
        {% endif %}
    </form>

    </div>
    -->

    <h2 class="my-2 m-3">My tasks</h2>
    <div class="row m-3 ">
    {% for t in todo_tasks %}

        <div class="card m-2 {% if t.is_done %} bg-success text-white {% endif %}{% if t.is_canceled %} bg-danger text-white {% endif %}">
  <div class="card-header">
    Created by: {{ t.created_date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ t.title }}</h5>
    <p class="card-text">{{ t.text }}</p>

    {%  if subtasks|get_item:t.pk|length > 0 %}

          <ol class="list-group list-group-numbered mb-3">
            {% for s in subtasks|get_item:t.pk %}
                <li class="list-group-item {% if t.is_done %} bg-success text-white {% endif %}{% if t.is_canceled %} bg-danger text-white {% endif %}">{{ s.title }}</li>
            {% endfor %}
        </ol>


    {% endif %}

      <div class="d-flex mb-3">
          <div class="me-auto p-2"><a href="{% url 'task_detail' pk=t.pk %}" class="btn btn-primary">Task detail</a></div>
          {% if t.is_done == False and t.is_canceled == False %}
          <div class="p-2"><a href="{% url 'done_task' pk=t.pk %}" class="btn btn-primary">Done Task</a></div>
          <div class="p-2"><a href="{% url 'cancel_task' pk=t.pk %}" class="btn btn-primary">Cancel Task</a>
              {% endif %}
        </div>
  </div>
</div>

    {% empty %}
<p>No tasks added.</p>
    {% endfor %}
    </div>


{% endblock %}